html, body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100%;
}

.section{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    border-radius: 8px;
    padding: 20px;
    width: 400px;
    height: 300px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

button{
    background-color: rgb(61, 61, 255);
    color: white;
    border: 2px solid black;
    border-radius: 4px;
    width: 120px;
    height: 40px;
}

input{
    border: 2px solid #cccccc;
    border-radius: 4px;
    width: 200px;
    height: 25px;
    padding: 10px;
}

.image-box{
    border: dashed 2px #cccccc;
    border-radius: 6px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}